{% extends 'Base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block sidebar %}
<!--{% include '_sidebar.html' %} -->
{% endblock %}
{% block content %}
    <div class="container-fluid dscr" >

				<h1 style="margin-top: 50px;">Who we are <i class="fa fa-angle-double-down"></i> </h1>
				<p>At Recreational Equipment, Inc. (REI) we believe a life outdoors is a life well-lived! </p>
				<p>We believe that it’s in the wild, untamed and natural places that we find our best selves, so our purpose is to awaken a lifelong love of the outdoors, for all.</p>
				<p>Since 1938, we have been your local outdoor co-op, working to help you experience the transformational power of nature. We bring you top-quality gear and apparel, expert advice, rental equipment, inspiring stories of life outside and outdoor experiences to enjoy alone or share with your friends and family. And because we have no shareholders, with every purchase you make with REI, you are choosing to steward the outdoors, support sustainable business and help the fight for life outside.</p>
				<p>So whether you’re new to the outdoors or a seasoned pro, we hope you’ll join us.</p>

				<h1>What we are doing <i class="fa fa-angle-double-down"></i> </h1>
				<p>What's it like to work at REI? Our employees say, "it's where personal values and business values meet." It means working in an environment of respect, diversity, shared values and a passion for the outdoors. You work with team members who share your enthusiasm for helping more people get outside, whether you work in a retail store, a distribution center or our headquarters near Seattle.</p>

				<h1>Why our products? <i class="fa fa-angle-double-down"></i> </h1>
				<p>We don't just love and sell high-quality outdoor gear and apparel. We also design and develop our own: REI Co-op and Co-op Cycles. Our teams get outside with members in the dirt, wind and rain to put our designs to the test. That way our products work for you and can be passed down a generation—or two.</p>
				<p>We put sustainability at the center of how we make products. In 2018, we debuted comprehensive product sustainability standards that apply to every brand we sell. Working closely with our partners at home and abroad allows us to make a larger impact across the outdoor industry. From seeking better ways of making goods, to advancing fair trade manufacturing practices, to putting our profits to good use, we advocate for the places we all love and make it easier for customers to shop their values.</p>
			</div>

				<button class="btn btn-outline-info btn-sm m-3 d-flex justify-content-center" id="hideButton">Fade FAQ</button>

			<div class="container-fluid FAQ">

				<h2 class="FAQheader">Frequently Asked Questions <i class="fa fa-angle-double-down"></i> </h2>

			<div id="question1">

				<h3 class="TitleHeader">What is a Co-op Member Reward? <i class="fa fa-angle-double-down"></i> </h3>
				<p id="p1">In 2020, members helped the co-op weather tough times. The Co-op Member Reward is our way of saying thank you! Our Co-op Member Reward is the way we typically share our profits with members. Even though we didn’t make a profit in 2020, we’re still committed to giving members a Reward—the equivalent amount your Co-op Member Reward would’ve been. In good times or bad, our community always comes first. It’s the co-op way.</p>
			</div>

				<div id="question2">
				<h3 class="TitleHeader">What do my Total 2020 REI Rewards include? <i class="fa fa-angle-double-down"></i> </h3>
				<p id="p1">
					Your Total REI Rewards are comprised of:
				</p>
				<ul class="faqsection">
					<li>Your 2020 Co-op Member Reward </li>
					<li>Any remaining 2019 Co-op Member Rewards</li>
					<li>REI Co-op World Elite Mastercard® Rewards (if you’re an REI Co-op Mastercard holder)</li>
				</ul>

				</div>

				<div id="question3">

				<h3 class="TitleHeader">When do I get my Co-op Member Reward? <i class="fa fa-angle-double-down"></i> </h3>
				<p id="p1">Co-op Member Reward notices are sent out in March. For example, the Co-op Member Reward you earn on purchases made in 2021 will be issued in March 2022 and expire in January 2024. Notices go out in March to active members who earned a Co-op Member Reward and/or REI Co-op Mastercard Rewards on eligible purchases during the previous year.</p>

				</div>
			</div>

			<div class="container-fluid location">
				<h2>Our Locations <i class="fa fa-map"></i> </h2>
				<ol style="list-style-type: lower-roman;">
					<li>Tysons
						Open until 9:00 pm today
						8209 Watson Street
						McLean, VA 22102
					</li>
					<li>
						Fairfax
						Open until 9:00 pm today
						11950 Grand Commons Ave
						Fairfax, VA 22030
					</li>
					<li>Bailey's Crossroads
						Open until 9:00 pm today
						3509 Carlin Springs Rd
					Bailey's Crossroads, VA 22041</li>
				</ol>
			</div>
{% endblock %}

