{% extends 'Base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block sidebar %}
{% include '_sidebar.html' %}
{% endblock %}
{% block content %}
		{% for i in items reversed %}
	<div class="card ">
		<div class="card-header {% cycle 'text-success' 'text-danger' %}">
			Category: <a href="{{ i.category.get_absolute_url }}">{{ i.category }}</a>
		</div>
		<div class="card-body">
			<div class="media">
				<div class="media-body">
					{% if i.photo %}
					<img src="{{ i.photo.url }}" width="300">
					{% else %}
					<img src="https://bitsofco.de/content/images/2018/12/broken-1.png" width="300">
					{% endif %}
			<h5 class="card-title">{{i.cloth_name}}</h5>
			<p class="card-text">Brand: {{i.cloth_brand|linebreaks}}</p>
			<p class="card-size">Size: {{i.cloth_size}}</p>
			<a href="{{ i.get_absolute_url }}" class="btn btn-primary">Go to next page</a>
				</div>
				</div>
		</div>
		<div class="card-footer text-muted">
			<p>{{i.cloth_date_release|date:"Y:m-d H:i:s"}}</p>
		</div>
	</div>
<hr>
	{% endfor %}
{% endblock %}

